<!DOCTYPE html>
<html>
  <head>
    <title>RailsReactExample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# TODO: Conditionally a real app, not `hello_react`  %>
    <%= javascript_pack_tag 'components/TodoApp' if params[:action] == 'my_todo_items' %>
  </head>

  <body>
    <%#  TODO: Make a shared partial for flash messages %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%# TODO: Make this a partial %>
    <% if user_signed_in? %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
      </li>
    <% else %>
      <li>
        <%= link_to('Login', new_user_session_path) %>  
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
