<!DOCTYPE html>
<html>
  <head>
    <title>Rails React Example</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# TODO: Conditionally a real app, not `hello_react`  %>
    <%= javascript_pack_tag 'components/TodoApp' if params[:action] == 'my_todo_items' %>
  </head>

  <body>
    <%#  TODO: Make a shared partial for flash messages %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
